footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #ffd041;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin-top: 25px;
    font-weight: 100;
    text-align: center;
    color: white;
}

@media (min-width: 900px) {
   footer {
       max-width: 100%;
       text-align: center;
   }
}

